@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

:root{
  --blue:#0188DF;
  --black:#354046;
}

.contact{
  background:var(--black);
}

.contact .heading{
  color:#fff;
}

.contact form{
  text-align: center;
}

.contact form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input, select{
  height: 4rem;
  width:49%;
  padding:0 1rem;
  margin:1rem 0;
  font-size: 1.7rem;
  color:var(--black);
}

.contact form textarea{
  height:20rem;
  resize: none;
  padding:1rem;
  font-size: 1.5rem;
  width: 100%;
}

.contact form input[type="submit"]{
  width:20rem;
}

.contact form input[type="submit"]:hover{
  background:var(--black);
}

